<launch>
    <!-- Acquire image -->

    <!-- Filter image -->
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/>

    <node pkg="nodelet" type="nodelet" name="Camera"
        args="load uvc_camera/CameraNodelet standalone_nodelet">
        <remap from="image_raw" to="irobot/image_raw" />
        <remap from="camera_info" to="irobot/camera_info" />
    </node>

    <node name="input_viewer" pkg="image_view" type="image_view">
        <remap from="image" to="irobot/image_raw" />
        <param name="autosize" value="True" />
    </node>

    <node name="draw_frames" pkg="image2pcl" type="image2pcl_node"
        output="screen">
        <remap from="image" to="irobot/image_raw" />
        <remap from="image_out" to="irobot/image_processed" />
    </node>

    <node name="output_viewer" pkg="image_view" type="image_view">
        <remap from="image" to="irobot/image_processed" />
        <param name="autosize" value="True" />
    </node>
</launch>
